#content {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.head-img {
  width: 1000px;
  height: 500px;
}

ul {
  list-style-type: none;
}

.img-styling {
  width: 250px;
  height: 250px;
}
